.articles {
  margin-bottom: 140px;

  grid-column: content / 4;

  display: grid;
  grid-template-columns: [middle]9fr 1fr;
  place-items: start;
}

.articles__list-wrapper {
  grid-column: 1 / -1;
  width: 100%;
  margin-bottom: 40px;

  display: flex;
  justify-content: flex-start;

  overflow: hidden;
}

.articles__list {
  width: auto;
  height: 570px;

  display: grid;
  grid-template-columns: repeat(3, 570px);
  grid-template-rows: repeat(2, 275px);
  grid-auto-flow: column dense;
  grid-gap: 20px;
  place-content: start;
}

.articles__item {
  width: 570px;
  height: 275px;

  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  overflow: hidden;

  &--big {
    grid-row-end: span 2;
    height: 570px;
  }

  &:nth-child(1) {
    background-image: url('./../images/articles1.jpg');
  }
  &:nth-child(2) {
    background-image: url('./../images/articles2.jpg');
  }
  &:nth-child(3) {
    background-image: url('./../images/articles3.jpg');
  }
  &:nth-child(4) {
    background-image: url('./../images/articles4.jpg');
  }
  &:nth-child(5) {
    background-image: url('./../images/articles1.jpg');
  }
  &:nth-child(6) {
    background-image: url('./../images/articles2.jpg');
  }
  &:nth-child(7) {
    background-image: url('./../images/articles3.jpg');
  }
  &:nth-child(8) {
    background-image: url('./../images/articles4.jpg');
  }
}

.articles__link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.articles__link-wrapper {
  width: 100%;
  padding: 40px 24px;

  background: linear-gradient(
    0deg,
    rgba(51, 51, 51, 0.6) 0%,
    rgba(51, 51, 51, 0) 100%
  );
}

.articles__link-title {
  margin: 0;
  padding: 0;
  margin-bottom: 9px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;

  text-transform: uppercase;

  color: #ffffff;
}

.articles__link-description {
  padding: 0;
  margin: 0;

  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  color: #ffffff;
}

.articles__controllers {
  grid-column: middle;

  width: 100%;
  margin-bottom: 40px;

  display: flex;
  align-items: center;
}

.articles__bar {
  width: 100%;
  height: 10px;
  margin-right: 24px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.05);

  border-radius: 10px;

  overflow: hidden;
}

.articles__proggress {
  width: 1%;
  height: 100%;

  background-color: var(--akcent);
}

.controllers__btns {
  display: flex;
  align-items: center;
}

.controllers__btn {
  width: 42px;
  height: 42px;

  &:not(:last-of-type) {
    margin-right: 12px;
  }

  --svg-fill: #333;

  &:hover {
    --svg-fill: var(--akcent);
  }

  &:disabled {
    --svg-fill: rgba(0, 0, 0, 0.3);
    pointer-events: none;
  }
}

.controllers__prev-btn svg {
  transform: rotate(180deg);
}

.articles__btn {
  grid-column: middle;
}
